---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_TESTING_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4928'
      X-Ratelimit-Reset:
      - '1576090961'
      Etag:
      - W/"4f0c2c15feeb581de15be3a3523d07be"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_TESTING_TOKEN&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_TESTING_TOKEN&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":225475524,"node_id":"MDEwOlJlcG9zaXRvcnkyMjU0NzU1MjQ=","name":"brownfield-of-dreams","full_name":"cjkelling/brownfield-of-dreams","private":false,"owner":{"login":"cjkelling","id":51389815,"node_id":"MDQ6VXNlcjUxMzg5ODE1","avatar_url":"https://avatars2.githubusercontent.com/u/51389815?v=4","gravatar_id":"","url":"https://api.github.com/users/cjkelling","html_url":"https://github.com/cjkelling","followers_url":"https://api.github.com/users/cjkelling/followers","following_url":"https://api.github.com/users/cjkelling/following{/other_user}","gists_url":"https://api.github.com/users/cjkelling/gists{/gist_id}","starred_url":"https://api.github.com/users/cjkelling/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cjkelling/subscriptions","organizations_url":"https://api.github.com/users/cjkelling/orgs","repos_url":"https://api.github.com/users/cjkelling/repos","events_url":"https://api.github.com/users/cjkelling/events{/privacy}","received_events_url":"https://api.github.com/users/cjkelling/received_events","type":"User","site_admin":false},"html_url":"https://github.com/cjkelling/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams","forks_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/cjkelling/brownfield-of-dreams/deployments","created_at":"2019-12-02T21:50:19Z","updated_at":"2019-12-10T22:00:41Z","pushed_at":"2019-12-10T22:00:38Z","git_url":"git://github.com/cjkelling/brownfield-of-dreams.git","ssh_url":"git@github.com:cjkelling/brownfield-of-dreams.git","clone_url":"https://github.com/cjkelling/brownfield-of-dreams.git","svn_url":"https://github.com/cjkelling/brownfield-of-dreams","homepage":"","size":7969,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":19,"license":null,"forks":0,"open_issues":19,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":204958685,"node_id":"MDEwOlJlcG9zaXRvcnkyMDQ5NTg2ODU=","name":"apartments_1908","full_name":"CoopTang/apartments_1908","private":false,"owner":{"login":"CoopTang","id":8922930,"node_id":"MDQ6VXNlcjg5MjI5MzA=","avatar_url":"https://avatars2.githubusercontent.com/u/8922930?v=4","gravatar_id":"","url":"https://api.github.com/users/CoopTang","html_url":"https://github.com/CoopTang","followers_url":"https://api.github.com/users/CoopTang/followers","following_url":"https://api.github.com/[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_TESTING_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4927'
      X-Ratelimit-Reset:
      - '1576090961'
      Etag:
      - W/"5cfd2f39c08a3[...]
- request:
    method: get
    uri: https://api.github.com/users/mcat56?access_token=<GITHUB_TESTING_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4926'
      X-Ratelimit-Reset:
      - '1576090961'
      Etag:
      - W/"9467a02f4add18cbd3c09e149ce04ada"
      Last-Modified:
      - Tue, 10 Dec 2019 17:16:26 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"mcat56","id":51488670,"node_id":"MDQ6VXNlcjUxNDg4Njcw","avatar_url":"https://avatars1.githubusercontent.com/u/51488670?v=4","gravatar_id":"","url":"https://api.github.com/users/mcat56","html_url":"https://github.com/mcat56","followers_url":"https://api.github.com/users/mcat56/followers","following_url":"https://api.github.com/users/mcat56/following{/other_user}","gists_url":"https://api.github.com/users/mcat56/gists{/gist_id}","starred_url":"https://api.github.com/users/mcat56/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcat56/subscriptions","organizations_url":"https://api.github.com/users/mcat56/orgs","repos_url":"https://api.github.com/users/mcat56/repos","events_url":"https://api.github.com/users/mcat56/events{/privacy}","received_events_url":"https://api.github.com/users/mcat56/received_events","type":"User","site_admin":false,"name":"Mary
        Lang","company":"Turing School of Software Development","blog":"","location":"Denver,
        CO","email":"mcl86@cornell.edu","hireable":null,"bio":null,"public_repos":42,"public_gists":16,"followers":2,"following":9,"created_at":"2019-06-07T16:12:29Z","updated_at":"2019-12-10T17:16:26Z"}'
  recorded_at: Wed, 11 Dec 2019 18:08:40 GMT
- request:
    method: get
    uri: https://api.github.com/users/cjkelling?access_token=<GITHUB_TESTING_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4925'
      X-Ratelimit-Reset:
      - '1576090961'
      Etag:
      - W/"975d2955a16d[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_TESTING_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4924'
      X-Ratelimit-Reset:
      - '1576090961'
      Etag:
      - W/"4c9d26f7edfd9[...]
